QPushButton {
    background-color: #ffffff;
    border: 1px solid #dcdfe6;
    padding: 10px;
    border-radius: 10px;
}
QPushButton:hover{
   	background-color: #ecf5ff;
    color: #409eff;
    border: 1px solid #dcdfe6;
    padding: 10px;
    border-radius: 10px;
}